.section-qa{
    h3{
        margin-bottom: 36px !important;
        @include media-max(md){
            margin-bottom: 32px !important;
        }
        @include media-max(xs){
            margin-bottom: 12px !important;
        }
    }
    li{
        margin-bottom: 40px;
        h5{
            margin-bottom: 16px;
            @include font-source-sans(20px, false, false, false, 23px);
            @include media-max(xs){
                margin-bottom: 8px;
            }
        }
        p{
            margin-left: 90px;
            @include font-source-sans(16px, false, false, false, 24px);
            @include media-max(xs){
                margin-left: 0px;
                margin-bottom: 0px;
            }
            &:first-child{
                margin-bottom: 15px !important;
            }
        }
    }
}