$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier;

// 換算單位
//  0.75em = 75% = 9pt = 12px

$h1-font-sizes: (  // 大標 | slider | slogan  : 32pt
  null  : 48px,
  xxs: 32px,
  xs : 32px,
  sm : 32px,
  md : 48px,
  lg : 48px,
  xl : 48px
);

$h2-font-sizes: ( // slider | title  : 16pt
  null : 16px,
  xxs: 20px,
  xs : 32px,
  sm : 32px,
  md : 42px,
  lg : 42px,
  xl : 42px
);

$h3-font-sizes: ( //main - title
  null : 16px,
  xxs: 16px,
  xs : 24px,
  sm : 24px,
  md : 32px,
  lg : 32px,
  xl : 32px
);

// $h4-font-sizes: ( //item - title card
//   null : 16px,
//   xs : 16px,
//   sm : 18px,
//   md : 18px,
//   lg : 20px,
//   xl : 20px
// );

// $h5-font-sizes: (
//   null : 16px,
//   xs : 14px,
//   sm : 16px,
//   md : 16px,
//   lg : 18px,
//   xl : 18px
// );


// font-size: ($sizeValue) + px;
// line-height: ($line) + px;
// font-size: ($sizeValue / 16) + rem;
// line-height: ($line / 16) + rem;

@mixin font-size($fs-map,$them) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size !important;
      // line-height:($fs-font-size * 1.6) !important;
    }
    @else {
      @include media-min($fs-breakpoint){
        @if($them == 'en'){
          // font-size:($fs-font-size / 1.3 ) !important;
          // line-height: ($fs-font-size / 0.7) !important;
          font-size:$fs-font-size !important;
          // line-height: ($fs-font-size * 1.52) !important;
        }
        @if($them == 'jp'){
          // font-size:($fs-font-size / 1.39 ) !important;
          // line-height: ($fs-font-size / 0.8) !important;
          font-size:$fs-font-size !important;
          // line-height: ($fs-font-size * 1.52) !important;
        }
        @if($them == 'ko'){
          // font-size:($fs-font-size / 1.4 ) !important;
          // line-height: ($fs-font-size / 0.8) !important;
          font-size:$fs-font-size !important;
          // line-height: ($fs-font-size * 1.52) !important;
        }
        @if($them == 'cn'){
          font-size:$fs-font-size !important;
          // line-height: ($fs-font-size * 1.52) !important;
        }
        @if($them == 'tw'){
          font-size:$fs-font-size !important;
          line-height: ($fs-font-size * 1.5) !important;
        }
      }
    }
  }
}

  @mixin them($lang){
    @if $lang == 'them-TW'{
      @extend %them-tw;
    }
    // @if $lang == 'them-JP'{
    //   @extend %them-JP;
    // }
    // @if $lang == 'them-EN'{
    //   @extend %them-EN;
    // }
    // @if $lang == 'them-KO'{
    //   @extend %them-KO;
    // }
    // @if $lang == 'them-CN'{
    //   @extend %them-CN;
    // }
  }

////共用-不分them才使用
// h1 {//carousel
// color:map-get($colorGroup,'deepBlueGreen');
//     @include font-size($h1-font-sizes,'tw');
// } 
// h2 {
//   //main
//   color: map-get($mainContentGroup, "normal-color");
//   @include font-size($h2-font-sizes,'tw');
// }
// h3 {
//   color:map-get($colorGroup,'deepBlueGreen');
//   @include font-size($h3-font-sizes,'tw');
// }
// h4 {
//   color:map-get($colorGroup,'gray');
//   @include font-size($h4-font-sizes,'tw');
// }
// h5 {
//   color: map-get($mainContentGroup, "color-blue");
// }
// p{
//     letter-spacing:1px;
//     color:map-get($colorGroup,'gray');
//     @include font-size($p-font-sizes,'tw');
// }

// header{
//   .menu{
//     @include font-size($header-menu-font-size,'');
//   }
// }

// .carouselArea{
//   .subTitle{
//     @include font-size($subTitle-font-size,'');
//     span{
//         @include font-size($p-font-sizes,'');
//     }
//   }
//   .slogan{
//       @include font-size($slogan-font-size,'');
//   }
// }

// footer{
//   address {
//     @include font-size($footer-font-size-companeyName,'');
//   }
//   p{
//     @include font-size($footer-font-size-message,'');
//   }
//   ul{
//     @include font-size($footer-font-size-companeyName,'');
//     a{
//       @include font-size($footer-font-size-companeyName,'');
//     }
//     li{
//       a{
//         @include font-size($footer-font-size-privacy,'');
//       }
//     }
//   }
//   .footerPrivcy{
//     @include font-size($footer-font-size-privacy,'');
//   }
// }
