<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <div class="wrap inner-page them-TW">
    <!---header>(a>img)+ul>(li>a)*4 --->
    <header class="">
      <a href="/glass_web/dist/index.html">
          <img src="./assets/images/logo.png" alt="">
      </a>
      <ul class="">
        <li><a href="/glass_web/dist/products.html">系列選框</a></li>
        <li><a href="/glass_web/dist/location.html">門市據點</a></li>
        <li><a href="/glass_web/dist/news.html">部落格</a></li>
        <li><a href="/glass_web/dist/qa.html">常見問題</a></li>
      </ul>
    </header> 

    <%- contents %>

    <footer>
      <div class="container">
          <div class="footer-top-box  pb-lg-32 pb-xxs-20">
              <ul class="footer-menu">
                <li><a href="/glass_web/dist/index.html">首頁</a></li>
                <li><a href="/glass_web/dist/products.html">系列鏡框</a></li>
                <li><a href="/glass_web/dist/location.html">門市據點</a></li>
                <li><a href="/glass_web/dist/news.html">部落格</a></li>
                <li><a href="/glass_web/dist/qa.html">常見問題</a></li>
              </ul>
              <ul class="footer-social">
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-fb.svg" alt=""></a></li>
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-ig.svg" alt=""></a></li>
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-line.svg" alt=""></a></li>
              </ul>
          </div>
          <div class="footer-middle-box pb-md-24 pb-xxs-16">
              <ul>
                  <li><a href="tel:0800-000-000"><img class="pr-md-16 pr-xxs-8"  src="./assets/images/icon-phone.svg" alt="">0800-000-000</a></li>
                  <li><a href="mailto:glasses@business.com"><img class="pr-md-16 pr-xxs-8" src="./assets/images/icon-mail.svg" alt="">glasses@business.com</a></li>
              </ul>
              <ul class="footer-social">
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-fb.svg" alt=""></a></li>
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-ig.svg" alt=""></a></li>
                  <li><a href="javascript:void(0)"><img src="./assets/images/icon-line.svg" alt=""></a></li>
              </ul>
          </div>
          <div class="footer-bottom-box pt-md-24 pt-xxs-16">
              <ul class="footer-info">
                  <li><a href="/glass_web/dist/index.html"><img src="./assets/images/logo.png" alt=""></a></li>
                  <li>Copyright © 2020 Glasses.All rights reserved.</li>
              </ul>
              <ul class="footer-privacy">
                  <li><a href="javascript:void(0)">隱私權政策</a></li>
                  <li><a href="javascript:void(0)">服務條款</a></li>
              </ul>
              <a class="footer-bottom-logo" href="/glass_web/dist/index.html"><img src="./assets/images/logo.png" alt=""></a>
          </div>
      </div>
  </footer>

  </div>
  <!-- <script src="./assets/js/vendor/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="./assets/js/vendor/popper.min.js"></script> -->
  <!-- <scirpt src="./assets/js/vendor/bootstrap.min.js"> -->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
